body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #a0d0ff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

div {
    position: relative; 
    width: 100%; 
}

h1 {
    font-family: 'Sacramento' , serif;
    display: block;
    line-height: 2;
    font-size: 7em;
    color: rgb(255, 0, 0);
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    padding-top: 18px;
    position: relative;
    text-align: center
}

h2{
    font-family: 'Cabin Sketch' , serif;
    display: block;
    font-size: 600%;
    color: rgb(48, 7, 255);
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: relative;
    text-align: center
}

h3{
    font-family: 'Cabin Sketch' , serif;
    display: block;
    font-size: 200%;
    color: rgb(221, 245, 11);
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
    position: relative;
}

h4{
    font-family: 'Cabin Sketch' , serif;
    display: block;
    font-size: 130%;
    color: rgb(255, 0, 0);
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    position: relative;
}

p{
    font-size: 180%;
}



.Programmer{
    font-family: 'Indie Flower', serif;
    font-size: 4em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center
}

a{
    font-size: 10px;
}

hr{
        border: dotted #00ffe1 6px;
        border-bottom: none;
        width: 29%;
        margin: 40px auto;
}



.top{
    background-color: #a0d0ff;
    position: relative;
}

.photo_m {
    position: relative;
    width: 100%;
}


.cloud_2{
    position: absolute;
    width: 15em;
    height: auto;
    left: 60px;
}

.cloud_3{
    position: absolute;
    width: 240px;
    height: auto;
    right: 60px;
    top: 40px;
}

.my_photo{
    width: 300px;
    height: 300;
    padding-top: 12px;
    position: relative;
}

.skill_img{
    width: 190px;
    height: auto;
    margin-right: 20px;
    float: left;
}

.links{
    color: #11a8ff;
    font-size: 19px;
    font-family: 'Cabin Sketch' , serif;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.links:hover{
    color: #ffffff;
}

.volunteer_img{
    width: 200px;
    height: 200px;
}

.skill_img_2{
    width: 190px;
    height: auto;
    float: right;
}

.skill-row{
    text-align: left;
    margin: auto;
}

.bottom-container{
    padding-top: 19px;
    background-color: #80f1e4;
    padding-bottom: 2px;
}

.contact-message{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}


.myButton {
	box-shadow: 0px 0px 0px 2px #c2c21b;
	background-color:#29fff4;
	border-radius:17px;
	border:2px solid #fa19d8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:11px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4e19e0;
    margin-top: 0px;
    margin-bottom: 10px;
}
.myButton:hover {
	background-color:#f5ba08;
}
.myButton:active {
	position:relative;
	top:1px;
}

        